@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-custom-color {
    background-color: #87bb34;
}

h1, h2, p {
    font-size: 20px;
    color: white;
}
img {
    width: 100%;
    border-radius: 50%;
}

#ingredients {
    background-color: white;
    color: black;
    height: auto;
    padding: 15px;
    border-radius: 5px;
    letter-spacing: 2px;
    text-align: start;
}
.card-body {
    height: 100px;
}

.card-body1 {
    padding: 50px;
}

.card-body2 {
    font-style: 16px;
    height: 200px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


#desc {
    font-size: 36px;
}

#nova {
    
}

#nutri {
    text-transform: uppercase;
} 
 

@keyframes scroll {
    0% {
    transform: translateX(-100%);
    }
    100% {
    transform: translateX(100%);
    }
   }
   
   .scrolling-text {
    animation: scroll 1000s linear infinite;
    white-space: nowrap;
   }

   .scrolling-text1 {
    animation: scroll 300s linear infinite;
    white-space: nowrap;
   }

   @keyframes shake {
    0% {
    transform: translateX(0);
    }
    25% {
    transform: translateX(-5px);
    }
    50% {
    transform: translateX(0);
    }
    75% {
    transform: translateX(5px);
    }
    100% {
    transform: translateX(0);
    }
   }
   
   .shaking-text {
    animation: shake 0.5s linear infinite;
   }
   